<div class="continer-fluid container-fluid-custome pb-5 mb-5">
    <div class="row mb-4">
        <div class="col">
            <h4>Hey, <%- locals.user.displayName %></h4>
        </div>
        <div class="col text-end">
            <a href="/dashboard/add" class="btn btn-primary">+ New Notes</a>

        </div>
    </div>
</div>